* {
  box-sizing: : border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

.calendarbox {
  margin-top: 100px;
  margin-left: 80px;
  max-width: 400px;
  max-height: 600px;
  background-color: #F9F9F9;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  align-content: center;
}


.month-year-title {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.right-arr {
  position: relative;
  left: 30px;
}

.left-arr {
  position: relative;
  left: -38px;
}

.week-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(50px * 7);
  margin: 10px auto;
}

.cell {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}
