.wrapbox {
  max-width: 700px;
  height: 580px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.calendarbox {
  height: 430px;
  background-color: #F9F9F9;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  align-content: center;
  justify-content: center;
}

.calendarbox:hover {
  box-shadow: 0 20px 35px rgba(0,0,0,0.1);
  cursor: pointer;
}


.month-year-box {
  margin: 14px 26px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.arr {
  width: 18%;
  display: flex;
  justify-content: space-between;
}

.week-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(50px * 7);
  margin: 10px 20px;
}

.cell {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.cell-active {
  background-color: #80c985;
  border-radius: 50%;
  color: white;
}

.cell-unavailable {
  opacity: 0.3;
}

.cell-available {
  opacity: 1;
}


.sub-btn {
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  background-color: brown;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.sub-btn:hover {
  box-shadow: 1px 5px 8px rgba(0,0,0,0.2);
}

